*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#93C5FD;
}

body{
    min-width :  100vw;
}

.container{
text-align: center;
margin: 4rem auto 7rem;
}

.heading{
    color:var(--primary-color);
}
.description{
    font-size: large;
    margin: 1rem;
}
.input-label{
    display: block;
    font-size: large;
    font-weight: 600;
}